$primary: #2E2F34;
$seconday: #34353a;
$textprimary: #E6AE4D;

@mixin whiteSmallerFont {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

@mixin goldBolderFont {
    font-family: 'Roboto', sans-serif;
    color: $textprimary;
    font-weight: 700;
}

.history-background{
    background-color: $primary;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:10%;
    padding-right:10%;
  }

.express-text{
    @include goldBolderFont;
}

.company-name{
    @include goldBolderFont;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
  }

  ul li::before {
    content: "\2022";
    color: $textprimary;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

p{
    @include whiteSmallerFont;
}

li{
    @include whiteSmallerFont;
}
