$primary: #2E2F34;
$seconday: #34353a;
$textprimary: #E6AE4D;

.contact-background {
    background-color: $primary;
    padding: 20px;
  }

.about-paragraph{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}