/* define primary colors */
$background: #2e2f34;
$white: #ffffff;
$heading1: #e6ae4d;

@mixin font {
  align-self: center;
  font-family: "Roboto", sans-serif;
  color: $white;
  font-weight: 700;
}

.component-background {
  background: $background;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  .logo {
    @include font();
    font-size: 48px;
    margin-left: 70px;
  }

  .logo-dot {
    color: $heading1;
  }

  .link-container {
    width: 30%;
    display: flex;
  justify-content: space-evenly;
    justify-self: flex-end;
    .links {
      @include font();
      font-size: 18px;
    }
  }
}

.content {
  display: grid;
  height: 100vh;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  grid-template-rows: 10% 4fr 1fr;
  position: relative;
}

.title-container {
  grid-column: 2/3;
  grid-row: 2/3;
  .title {
    text-align: left;
    @include font();
    font-size: 72px;
    .dot {
      color: $heading1;
    }
  }
  .contact-button {
    @include font();
    font-size: 20px;
    width: 30%;
    border: 1px solid $heading1;
    padding: 10px;
    color: $heading1;
  }
}

.description-container {
  grid-column: 4/5;
  grid-row: 2/3;
  .container-heading {
    font-family: "Roboto", sans-serif;
    color: $white;
    font-weight: 400;
    text-align: left;
    color: $heading1;
  }

  .container-sub {
    @include font();
    font-size: 48px;
    text-align: left;
  }

  .divider{
    background: $heading1;
    width: 20%;
    height: 2px;
  }

  .description{
    font-family: "Roboto", sans-serif;
    color: $white;
    font-weight: 400;
    text-align: left;
  }
}

.image-container{
  grid-column: 3/4;
  grid-row: 2/4;
  .personal-image {
    width: 100%;
    bottom: 0;
    position: relative;
  }
  
  .background-shape{
    background-color: #2B2B33;
    width: 25%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: 0;
  }
}


