/* define primary colors */
$background: #2E2F34;
$white: #FFFFFF;
$heading1: #E6AE4D;

@mixin font {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  color: $white;
  font-weight:700;
}

@mixin positioning {
  display: flex;
  justify-content: space-evenly;
}

/* use the variables */
.component-background {
  background-color: $background;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.logo{
  @include font();
  font-size: 48px;
  margin-left: 70px;
}

.logo-dot
{
  color: $heading1;
}

.link-container{
  width: 30%;
  @include positioning();
  justify-self: flex-end;
}

.links{
  @include font();
  font-size: 18px;
}

.content{
  @include positioning();
}

.name-heading{
  text-align: left;
  @include font();
  font-size: 72px;
}

.name-container{
  width: 30%;
}

.profession-container{
  width: 30%;
}

.profession-container-heading{
  font-family: 'Roboto', sans-serif;
  color: $white;
  font-weight:400;
  text-align: left;
  color: $heading1;
}

.profession-container-sub{
  @include font();
  font-size: 48px;
  text-align: left;
}

.contact-button{
  @include font();
  font-size: 20px;
  width: 50%;
  border: 1px solid $heading1;
  padding: 20px;
  color: $heading1;
}

.image-container{
  width: 30%;
  // align-self: center;
  // width: 27%;
  // position: absolute;
  // display: flex;
  // flex-direction: column;
  // bottom: 0;
  // z-index: 0;
}

.personal-image{
  width: 100%;
  align-self: center;
}

.background-shape{
  background-color: #2B2B33;
  width: 100%;
  height: 65%;
  border-radius: 50%;
  position: absolute;
  align-self: center;
  z-index: -1;
  top: 0;
}